@import '../../scss/variables';

.headerTopInner {
       
    display: flex;
    align-items:center;
    justify-content: space-between;
    .headerLink {
        position: relative;
        padding: 11px 0;
        color: $gray;
        &:not(:last-child) {
            margin-right: 57px;
        }
        
    }
    
}

.logo {
    margin-right: 80px;
    max-width: 134px;
    img {
        display: block;
    }
}

.headerNav {
    display: flex;
    align-items: center;
}


.headerLink {
    display: flex;
    align-items: center;
    line-height: 17px;

    &.hasIcon {
        
        &.iconleft{
            svg{
                position: absolute;
                display: block;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }            
            padding-left: 13px;
        }
        &.iconright {
            svg{
                margin-left: 15px;
                color: $yellow-icons;
            }            
        }
        
    }

    
    &:hover {
        color:$black;
    }
    &::after {
        content: "";
        opacity: 0;
        transform: scale(0);
        transform-origin: left center;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0px;
        background-color: $yellow-icons;
        transition: 0.4s ease 0s;
    }

    &:hover {
        &::after {
            opacity: 1;
            transform: scale(1);
        }   
        
    }
}



.headerTopTools {
    display: flex;
    align-items:center;
    .headerTopLink {
        color: $gray;
        margin-right: 0;
        &:hover {
            color: $yellow;
        }
    }

    .headerTopLinkAuth {
        font-weight: 500;
        color: $blue;
    }
}



.headerTopMark {
    display: flex;
    align-items: center;
    margin-right: 40px;
    svg {
        margin-left: 10px;
    }
}

.headerBottomInner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLink {
        display: flex;
        align-items: center;
        padding: 20px 0;
        line-height: 17px;
        font-weight: 600;
        position: relative;

        &::after {
            width: calc(100% - 80px);
        }    
        
    }
}

.headerBottom {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}

.headerBottomList {
    display: flex;
}

.headerBottomListItem {
    position: relative;
    &:not(:last-child) {
        .headerLink {
            padding-right: 80px;
        }
    }

    &:hover {
        .headerBottomDrop {
            display: block;
        }
    }
    &:last-child {
        .headerLink {
            &::after {
                width: 100%;
            }
        }
    }
}


.headerBottomDrop {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 24px;
    width: 100%;
    z-index: 2;
    animation: menu-dropdown 0.4s ease-out;
}

@keyframes menu-dropdown {
    from { top: calc(100% + 10px); }
    to { top: 100%; }
}

.headerBottomDropList {
    position: absolute;
    top: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.headerBottomDropItem {
    display: block;
    a {
        display: block;
        padding: 10px 15px;
        font-weight: 500;
        line-height: 17px;
    }
    &:hover {
        background: $gray-light;
    }
}
