@import '../../scss/variables';

.breadCrumbs {
    margin-bottom: 25px;
}

.inner {
    display: flex;
    align-items: center;
}

.icon {
    color: $blue;
    flex-shrink: 0;
}

.list {
    display: flex;
    align-items: center;
}

.item {
    position: relative;
    padding-left: 17px;
    line-height: 14px;
    color:#686868;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 3px;
        height: 3px;
        background: $blue;
        top: 6px;
        left: 7px;
        border-radius: 50%;
    }

    span.link {
        color:#686868;        
    }

    .link {
        color: $blue;
    }
}