body {
  background-color: $gray-light;
  font-family: 'Inter',  Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: 'Inter',  Arial, Helvetica, sans-serif;
}
