$black: #1E2123;
$gray: #8291A3;
$gray-light: #F8F8F8;
$gray-line: #f6f6f6;
$blue: #664EF9;
$yellow: #FEC100;
$yellow-icons: #FFD54F;

$tablet-l: 1439px;
$tablet: 1279px;
$tablet-s: 1023px;
$mobile: 767px;