@import 'fonts';
@import 'variables';
@import 'libs/normalize';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Inter',  Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $gray-light;
  font-family: 'Inter',  Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1285px;
  @media (max-width: $tablet-l){
    width: auto;
    margin: 0 50px;
  }
  @media (max-width: $tablet){
    width: auto;
    margin: 0 30px;
  }
  @media (max-width: $mobile){
    width: auto;
    margin: 0 20px;
  }
}